@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.Teachersh1{
    text-align: center;
    font-size: 3rem;
}
.TeachersP{
    text-align: center;
}

.Cards{
    display: flex;
    text-align: center;
    padding: 0 15%;
    margin-top: 6rem;
    gap: 2rem;
}

.Card{
    padding: 2rem 4rem;
}

.cardImage{
    width: 33%;
    border-radius: 100%;
}